//  CSS mixins live in this file

@mixin clearfix {
    &::after {
        content: "";
        clear: both; // makes it work for float left and right
        display: table;
    }
}

@mixin centerHorizontalVertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}